<%= render 'finance_top'%>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header pjax headerSortDown id_field integer_type" data-href="/admin/comment?sort=id&amp;sort_reverse=true">店家编号</th>
      <th class="commentable_field polymorphic_association_type">成功交易额</th>
      <th class="header pjax  created_at_field datetime_type" >时间区间</th>
      <th class="header pjax  created_at_field datetime_type" >店名</th>
      <th class="last shrink"></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
    <tr>
      <td class="id_field integer_type"><%= store.id%></td>
      <td class="commentable_field polymorphic_association_type" title="FieldTest #300"><%= store.income_by_time(3 , Time.local(2013,03,01), Time.now) %>元</td>
      <td class="created_at_field datetime_type" title="<%= %>">(<%= (Time.local(2013,03,01)).to_date%>-<%= Time.now.to_date%>)</td>
      <td class="created_at_field datetime_type" title="<%= %>"><%= store.name%></td>
      <td class="last links">
        <ul class="inline">

          <li title="编辑" rel="tooltip" class="icon edit_member_link ">
            <a class="pjax" href=""> <i class="icon-pencil"></i> <span style="display:none">修改</span> </a>
          </li>
      </ul></td>
    </tr>
    <% end %>
  </tbody>
  <%= will_paginate @stores %>
</table>

