</script>
<div class = "main_content_details_table">
	<table width="100%" border="0"  cellpadding="0" cellspacing="0">
		<tr>
			<th>菜品类别名称</th>
			<th>权值</th>
			<th></th>
			<th></th>
		</tr>
		<% @store.categories.each do |category| %>
		<tr>
			<td><%= category.name %></td>
			<td><%= category.sortvalue %></td>
			<td><a href="javascript:void(0)" onclick="ajax_category('#edit_category',<%= category.id%>)">更新</a></td>
			<td><%= link_to '删除', delete_category_stores_path(:id => category.id), confirm: '确定删除吗?', method: :delete %></td>
		</tr>
		<% end %>
	</table>
	<br/>
	<a href="javascript:void(0)" onclick="category_edit('#add_category','增加菜单类别')">添加菜单类别</a>
</div>

<div id="add_category" style="display: none" class='category'>
  <%= render 'categories/form'%>
</div>

<div id="edit_category" style="display: none" class='category'>
  <%= render 'categories/edit'%>
</div>


<% if flash[:create_category_info]%>
	<script>
			$(document).ready(function(){
			  alert('<%=flash[:create_category_info]%>');
		  });
	</script>
<%end%>
