<%= render :partial => 'tab', :locals => {:tab_index => @tab_index} %>
<div class="main_content_details">
    <div class="main_content_details_top">
    		<br/>
        <p>
           &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
    </div>
    <div class="main_content_details_bottom" style="height:400px;">
				<div class="tab tab_<%= @type==""? "on": "out"%>">
					<a href="/users/welfare">我的礼品 </a>
				</div>
				<div class="tab tab_<%= @type!=""? "on": "out"%>">
					<a href="/users/welfare/address">收货地址</a>
				</div>
	<%if @type==""%>
		<div class="main_content_details_table">

				<table cellpadding="0px" cellspacing="0px">
					<thead>
						<tr>
							<th style="width:20%;">日期</th>
							<th style="width:60%;">礼品详情</th>
							<th style="width:20%;">花费积分</th>
						</tr>
					</thead>
					<tbody>
						<%@goods.each do |g|%>
						<tr>
						<th><%=g.created_at.to_s(:db)%></th>
						<th><a href="/cj/<%=g.id%>"><%="[#{g.title}]-[#{the_activity_status(g.end_time)}]"%></a></th>
						<th><%=g.need_score%></th>
					</tr>
						<%end%>
					</tbody>
				</table>
		</div>
		<%= will_paginate @goods %>
	<%elsif @type=="address" and current_user.good_address%>
	  <div class="main_content_details_table">
            <table cellpadding="0px" cellspacing="0px">
              <thead>
                <tr>
                    <th style="width:20%">真实姓名</th>
                    <th style="width:40%">详细地址</th>
                    <th style="width:20%">联系电话</th>
                    <th style="width:20%">操作</th>
                </tr>
             </thead>
            <tbody>
               <tr>
                 <td ><%=@good_address.real_name%></td>
                 <td ><%=@good_address.address%></td>
                 <td ><%=@good_address.tel_number%></td>
                 <td ><a href="/users/welfare/address_edit" style="margin-left:20px;">修改</a></td> 
               </tr>
            </tbody>
          </table>
       </div>
	  <%else%>
	      <%=form_for :good_address,:url=>'/users/welfare/address_create' do |f|%>
	      <div class='li'>
	      	<ul>
	      		<li><span><%=flash[:error]%></span></li>
	      		<li>
	     			 <label><em>*</em>真实姓名：</label>
	     			 <%=f.text_field :real_name, :value=>@good_address.real_name%>
	     			</li>
	     			<li>
	     			 <label><em>*</em>详细地址：</label>
	     			 <%=f.text_field :address ,:class=>"address",:value=>@good_address.address%>
	     			</li>
	     			<li>
	     			 <label><em>*</em>联系电话:</label>
	     			 &nbsp;&nbsp;&nbsp;<%=f.text_field :tel_number, :value=>@good_address.tel_number%>
	     			</li>
            <%=f.text_field :user_id ,:value=>current_user.id, :type=>"hidden" %>
            <li>
            		<%=f.submit "提交",:class=>'submit'%>
            </li>	
	       </ul>
	      <div>
	   <%end%>
	<%end%>
</div>
</div>
</div>

<style type="text/css">

   .li li{
   	width: 600px;
   	margin-top: 10px;
   	margin-left: -20px;
   }

   .li span{
   	font-size: 16px;
   	color: #C41304;
   	margin-left: 90px;
   }


   .li em{
   	color: #C41304;
   	margin: 4px;
   }

   .li label{
   	font-size: 14px;
   }

   .li input{
   	padding: 6px;
   }
   .address{
   	width: 400px;
   }
   .submit{
   	margin-left: 88px;
   	width: 80px;
   	color: #fff ;
   	background-color: #601606;
		height: 30px;
		border: none;
   }
</style>
