<div class="ordering_top">
    <div id="top_left"></div>
    <div class="ordering_top_base">
        <div class="ordering_top_center">
        <div class="ordering_top_logo" >
            <%= link_to image_tag("icon/logo.png" ,:width=>"124",:height=>"53" ), root_path %>
        </div>
        <div class="ordering_top_icon" style="width:440px;">
            <div id="home" class="ordering_top_icon_box">
                <%= link_to image_tag("icon/home.png" ,:width=>"24",:height=>"24"), :root%>
                <div id="title_home" class="title_div">
                    主页
                 </div>
            </div>
       <div id ="dingdan"class="ordering_top_icon_box">
             <%= link_to image_tag("icon/food.png" ,:width=>"24",:height=>"24"), 
                      orders_users_path(:status=>"building") %>
                  <div id="title_dingdan" class="title_div">
                    我的订单
                 </div>
            </div>
            <div id ="shoucang" class="ordering_top_icon_box">
                <%= link_to image_tag("icon/like.png" ,:width=>"24",:height=>"24"), collects_users_path %>
                <div id="title_shoucang" class="title_div">
                    我的收藏
                 </div>
            </div>
            <div id ="gwc" class="ordering_top_icon_box">
                 <%= link_to image_tag("icon/buy24.png" ,:width=>"24",:height=>"24"), bill_users_path%>
                 <div id="title_gwc" class="title_div">
                    购物车
                 </div>
            </div>
            <div id="cj" class="ordering_top_icon_box">
            <%= link_to image_tag("/temp/cjs.png" ,:width=>"24",:height=>"24"), "/cj"%>
            <div id="title_cj" class="title_div">
                    我要抽奖
                 </div>
            </div>
                <div id ="bbs" class="ordering_top_icon_box">
                 <%= link_to image_tag("/temp/Chat.png" ,:width=>"24",:height=>"24"), "http://bbs.weidaxue.me"%>
                 <div id="title_bbs" class="title_div">
                    微大学bbs
                 </div>
            </div>
        </div>
        <div class="ordering_top_search">
            <form id="search_form" action="/foods/search" method="get">
            <input id="input_key_word" class="ordering_top_input" type="text" value="输入餐品或店家" name="keys" />
            <div class="ordering_top_search_pic">
              <img id="search_button" width="18" height="18" src="/images/icon/search.png">
            </div>
            </form>
        </div>
            <%if (current_user and current_user.is_signed)%>
               <div class="signin_b"></div> 
            <%else%>
              <div class="signin_a"></div>
            <%end%>
       <% if user_signed_in? %>
            <div class="ordering_top_login_pic">
                <img src="<%=current_user.get_image_url("small")%>" id="userimg" width="30" height="30" border="0" />
            </div>
            <div class="ordering_down_box" id="downbox" style="display:none;"  tabindex="0">
                <div class="ordering_down_box_li">
                    <div class="ordering_down_box_li_pic"></div>
                    <div class="ordering_down_box_li_text">
                     <%=link_to "我的微大学",home_users_path%>
            </div>
                </div>
                    
                <div class="ordering_down_box_li">
                    <div class="ordering_down_box_li_pic"></div>
                    <div class="ordering_down_box_li_text">
                        <%=link_to "我的收藏",collects_users_path%>                 
                    </div>
                </div>
                    
            <!--<div class="ordering_down_box_li">
                    <div class="ordering_down_box_li_pic">
                        <%=image_tag "icon/new.gif" ,:width=>"25",:height=>"9"%>
                    </div>
                    <div class="ordering_down_box_li_text">
                        <a href="#">发现好友</a>
                    </div>
                </div> -->
                    
                <div class="ordering_down_box_li">
                    <div class="ordering_down_box_li_pic"></div>
                    <div class="ordering_down_box_li_text">
                        <%=link_to "账号设置",account_users_path%>      
                    </div>
                </div>
                    
                <div class="ordering_down_box_li">
                    <div class="ordering_down_box_li_pic"></div>
                    <div class="ordering_down_box_li_text"><a href="/logout">退出</a></div>
                </div>
            </div>
    <%else%>
      <div class="ordering_top_login"><a href="/users/sign_in">登录</a></div>
    <% end %>

</div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("#search_button").click(function(){
       $("#search_form").submit(); 
    });
   $.each(["home","dingdan","gwc","shoucang","bbs","cj"],function(k,v){
        $("#"+v).mouseenter(function () {
            $("#title_"+v).css("display","block");
        });
        $("#"+v).mouseleave(function () {
            $("#title_"+v).css("display","none");
        });
   }); 
  });
</script>

<style type="text/css">
.signin_a{
    width: 74px;
    height: 27px;
    margin-top: 12px;
    margin-left: 4px;
    float: left;
    background-image: url(/temp/icon2_2.png);
    cursor: pointer;
}
.signin_b{
    width: 74px;
    height: 27px;
    margin-top: 12px;
    margin-left: 4px; 
    float: left;
    background-image: url(/temp/icon2_2.png);
    background-position-y: 27px;
}
.title_div{
    height:32px;
    display: none;
    width:60px;
    background-image: url(/assets/icon/title.png);
    margin-left: -8px;
    margin-top: 14px;
    line-height: 3;
    color: white;
}
</style>

<script type="text/javascript">
$(".signin_a").click(function(){
    <%if current_user%>
        htmlobj=$.ajax({url:"/users/qiandao",async:false});
        result = JSON.parse(htmlobj.responseText);
        add_jf = result.number
        if (result.number > 3){
            add_jf = 3;
        }
        next_jf = result.number+1;
        if(next_jf>3){
            next_jf =3;
        }
        content = "连续签到:"+result.number+"天,积分+"+add_jf+",明天签到可得 "+next_jf+" 积分,可用积分"+result.score+"分.";
        $(this).removeClass().addClass("signin_b");
        $("#my_score_home").text(result.score);
        alert(content);
   <%else%>
     self.location='/users/sign_in';
   <%end%>
});
</script>
