<%= form_for :category,:url => {:controller =>"categories",:action => :update}  do |f| %> 
<div>
	<label>名称</label>
	<%= f.text_field :name ,:id => "categoryname" ,:class => "input_text" %>
</div>
<div>
	<label>权值</label>
	<%= f.text_field :sortvalue  ,:id => "categoryvalue",:class => "input_text" %>
</div>
  <%= f.hidden_field :id,:id => "categoryid",:name => "categoryid"%>
	<%= f.submit '提交',:class => "my_action" %>
<%end  %>
